.row2{
    background-image: linear-gradient(to left, #eed276,#db4242, #861055);
    padding: 3px 50px 4px 50px;
}
.aa{
    color:white;
    border-right: 1px solid white;
    padding-right:7px;
    padding-left: 7px;
    font-size:12px;
    text-decoration: none;
    
}
.header-1{
    padding-top:5px ;
    padding-bottom: 5px;
    padding-right: 50px;
    margin: 0px;
    background-image: linear-gradient(to left, #ecce6d,#db4242, #861055);
}
.t1{
    margin: 0px;
    color: white;
    text-align: right;
    font-size:small;
    
}
.header-2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 5px 40px 5px 40px;
    background-color: white;
    
}
.logo{
    height: 100px;
    width: 100px;
}
.logo_nam{
    font-weight: bold;
    font-size: 20px;
}
.img2{
    height: 100px;
    width: 250px;
}
.img3{
    height: 100px;
    width: 250px;
}
.hi{
    display: flex;
   flex-direction:column;
}
.imp1{
    width: 100%;
}
.row3{
    display: flex;
    gap:50px;
    padding: 5px 100px 5px 140px;
    text-align: center;
   
}
.lo{
    border: 2px solid #fbf6f6;
    border-radius:100px;
    padding: 10px ;
    padding-top: 10px;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #ecce6d,#db4242, #861055);
    position: relative;
    top: -30px;
}
.l1{
    border: 2px solid #fdf9f9;
    border-radius:100px;
    padding: 10px ;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #f0c2ad,#e26935, #cb4118);
    position: relative;
    top: -30px;
}
.l2{
    border: 2px solid #fffefe;
    border-radius:100px;
    padding: 10px ;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #035d0c,#239130, #5cf07a);
    position: relative;
    top: -30px;
}
.l3{
    border: 2px solid #fcf7f7;
    border-radius:100px;
    padding: 10px ;
    padding-top: 15px;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
    background-color: #4b4a4a;
    position: relative;
    top: -30px;
}
.l4{
    border: 2px solid #fcf7f7;
    border-radius:100px;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 30px;
    height: 80px;
    width: 80px;
    background-color: #5bc9e1;
    position: relative;
    top: -30px;
    
}
.he1{
    font-size:small;
    color: white;
}
.row4{
    display:grid;
    grid-template-columns:60% 40% ;
    padding-left: 50px;
    padding-right: 30px;

}
.na1{
    font-style: italic;
    text-align: center;
}
.dash{
    background-color: #f8561b;
    height: 20px;
    width: 160px;
    padding: 4px 20px 4px 25px;
    letter-spacing: 5px;
    margin-left: 30%;
}
.dashing{
    color: white;
}
.IM{
    padding-left: 200px;
}
.ias{
    height: 160px;
    width: 166px;

}
.ian{
    position: relative;
    top: -25px;
    background-color: #474b4c;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.n{
    font-weight: bold;
    color: white;
    font-size: medium;
    margin-bottom: 0px;
}
.po{
    font-size: small;
    color: white;
    margin-top: 0px;
}
.ii{
    font-size: smaller;
}
.row5{
    display: flex;
    gap: 50px;
    justify-content:center;
    margin: 20px;
}
.rh{
    text-align: center;
    font-style: italic;
    font-weight: bold;
  
   
}
.p0{
    border: 2px dashed #c4baba;
    border-radius:100px;
    padding: 10px;
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: #c95f21;
   
}
.p1{
    border: 2px dashed #c4baba;
    border-radius:100px;
    padding: 10px ;
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: #67e0a7;
    
}
.p2{
    border: 2px dashed #c4baba;
    border-radius:100px;
    padding: 10px ;
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: #f5b65d;
}
.p3{
    border: 2px dashed #c4baba;
    border-radius:100px;
    padding: 10px ;
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: #0fd6e1;
}
.footer{
    background-image:linear-gradient(to right, #4c4a4a, #772807);
    height:200px;
    padding:20px 50px 20px 60px;
    display: grid;
    grid-template-columns:550px 150px 150px ;
    gap: 20px;
}
.pf{
    color: white;
    font-size: small;
    letter-spacing: 1px;
}
.sf{
    color: #f39972;
    
}
.b{
    display: flex;
    flex-direction:column;
    gap: 10px;
}
.f1{
    text-decoration: none;
    color: #d2c3c3;
    font-size: small;
}
.c{
    display: flex;
    flex-direction:column;
    gap: 10px;
}
.f2{
    text-decoration: none;
    color: #d2c3c3;
    font-size: small;
}
.fa{
    height: 20px;
    width: 20px;
    position: relative;
    right: -680px;
    top: -20px;
    border-radius: 10px;
}
.t{
    height: 20px;
    width: 20px;
    position: relative;
    right: -140px;
    top: -20px;
    border-radius: 10px;
}